<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Layar 21 Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Layar 21 Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (isLoading()) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

  @for (movie of movies(); track $index) {
  <app-movie-card [movie]="movie"></app-movie-card>
  } @empty {
  <p>No movies found</p>
  }
</ion-content>